@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --fuente: Rubik Mono One;
    --fuente-dos: lato;
    --fuente-tre: Pontano Sans;
    --fuente-cuatro: Black Han Sans;
    --fuente-primary:Work Sans;
    
   /* TONOS COLOR */

    --blue: #1b86ff;
    --black: #000;
    --black-suave:#b4b4b4;
    --white: #FFFFFF;
    --Yellow-button: #eed11c;
    --colorv:#B1CC33;
    --color2v: #A8FF35;
    --color-f:#DBEFB9;
    --color-h:#5DD12E;
}

h1{
    font-size: 3.2rem;

}
h2{
    font-size: 2.4rem ;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.4rem;
}
h6{
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 2.4rem;
    margin: 1rem;
    color: var(--black);
}

.background {
    background-image: url('../img/fondo_pantalla.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 2rem ;
    font-size: 1rem;
    color: var(--black);
}

.boton {
    background-color: var(--white);
    color: var(--black);
    border: 0.1rem solid var(--black);
    margin: 1rem;
    padding: 0.4rem 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.container {
    justify-content: space-around;
    margin-bottom: 2rem;
    background-color: #d9d9d9;
    border-radius: 0.8rem;
    text-align: center;
    box-shadow: 0 0.4rem 0.6rem var(--black);
    width: 30rem;
    opacity: 69%;
}

