@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html{

    font-size: 62.5%;
    
}
:root{
    --fuente: Rubik Mono One;
    --fuente-dos: lato;
    --fuente-tre: Pontano Sans;
    --fuente-cuatro: Black Han Sans;
    --fuente-primary:Work Sans;
    
   /* TONOS COLORA */

    --red: #ff2121;
    --red-dos: #e53c3c;
    --red-tres: #ec5e5e;
    --red-cuatro:#f44c4c;
    --blue: #1b86ff;
    --black: #000;
    --black-suave:#b4b4b4;
    --white: #FFFFFF;
    --Yellow-button: #eed11c;
    --colorv:#B1CC33;
    --color2v: #A8FF35;
}




body {
    font-family: var(--fuente-tre);
    margin: 0;
    padding: 0;
    /* background-color: var(--black); */
    background-image: url(fondo.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    font-family: var(--fuente-primary);
    
}

h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 2.0rem;
}
h4{
   font-size: 1.6rem;
}
h5{
    font-size: 1.4rem;
}
h6{
    font-size: 1rem;
}


svg{
    background-color: var(--white);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: var(--colorv) ;
    border: 0.6rem solid  var(--color2v);
    position: relative;
    left: 46%;
    top: 5.4rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217,65%);
    border-radius: 0.6rem;
    width: 61.2rem;
    height: 26.1rem;
    margin-top: 6%;
    position: relative;
    left: 31.5%;

    .bienvenida ,h1{
        text-align: center;
    }

    .bienvenida ,p{
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    body {
      /* Adjust font sizes and other styles for smaller screens */
      font-size: 1.6rem; /* Adjust base font size */
    }

    h1 {
      font-size: 2.4rem; /* Adjust font sizes for headings */
    }

    /* ... other adjustments for smaller screens ... */

    main {
      width: 90%; /* Make the main container more responsive */
      left: 5%; /* Adjust the position */
    }

    svg {
        width: 10rem;
        height: 10rem; /* Adjust the size of the SVG */
        left: 50%; /* Center the SVG */
        top: 10%; /* Adjust the position */
    }
}