@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 62.5%;
}
:root{
    --fuente: Rubik Mono One;
    --fuente-dos: lato;
    --fuente-tre: Pontano Sans;
    --fuente-cuatro: Black Han Sans;
    --fuente-primary:Work Sans;
    
    --Font-Family: 'Inter', 'Lato', 'Roboto Slab', 'Roboto', 'Staatliches', sans-serif;
   /* TONOS COLOR */

    --blue: #1b86ff;
    --black: #000;
    --black-suave:#b4b4b4;
    --white: #FFFFFF;
    --Yellow-button: #eed11c;
    --colorv:#B1CC33;
    --color2v: #A8FF35;
    --color-f:#DBEFB9;
    --color-h:#5DD12E;
    --colorm: #EDF7E8;
    --color-caja:#B7E0A2;
}

h1{
    font-size: 3.2rem;

}
h2{
    font-size: 2.4rem ;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.4rem;
}
h6{
    font-size: 1rem;
}

body{
    font-family: var(--Font-Family);
    width: 0;
    height: 0;
    width: 100%;
    background-color: var(--color-f) ;
}

header{
    display: flex;
    justify-content:space-between;
    align-items:start;
    background-color:var(--color-h);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 149px;
    gap:2.4rem
}
img.logos{
        width: 10rem;
        height: 9.8rem;
        position: relative;
        top: 1.7rem;
        margin-left: 2%;
}
h1{
    font-size: 3.2rem;
    color: var(--white);
    text-align: center;
    margin-top: 2%;
    /* margin-left: 5rem; */
    position: relative;
    top: 2rem;
}
img.logop{
    width: 10rem;
    height: 9.8rem ;
    border-radius: 175%;
    position: relative;
    top: 1.7rem;
    margin-right: 2%;
}

.manu{
    padding: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
}

.link-list {
    display: flex;
    flex-direction: column;
    padding:1.2rem ;
    gap: 2.4rem; /* Espacio entre elementos */
    margin-left: 2rem;
    position: relative;
    top: 2rem;
    background-color: var(--colorm);
    width: 8%;
    height: 36rem;
    margin-right: 2rem;
    border-radius: 1rem;
}

.link-list a {
    text-decoration: none;
    color: var(--black); /* Color del texto */
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--fuente-primary);
}

.icon,.salida{
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    position: relative;
    left: 2.10rem;
}

.perfil-inicio{
    display: flex;
    width: 13.4rem;
    height: 1.9rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transform: translateY(-418px);
    gap: 2.4rem;
    position: relative;
    left: 71%;
    
}
.perfil-inicio,.porfol{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black);
    font-weight: 600;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 0.1rem solid var(--black-suave); /* Borde azul */
    border-radius: 1rem;
    overflow: hidden; /* Para ocultar el exceso de contenido */
    position: relative;
    left: 80%;
    width: 28rem;
    top: 0.5rem;
    transform: translateY(-450px);
}

.search-bar input {
    flex-grow: 1;
    border:none;
    outline: none;
    padding: 1.2rem;
    font-size: 1.4rem;
    width: 2rem;
}
.search-bar,input::placeholder{
    color: var(--black);
    font-weight: 500;
}

.search-bar button {
    background: var(--white);
    border: none;
    padding: 1rem;
    cursor: pointer;
    
}

.search-bar i {
    font-size: 1.8rem;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    background-color: var(--color-caja);
    height: 40rem;
    border-radius: 1rem;
    transform: translateY(-418px);
}

.arrow {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 2.4rem;
}

.left {
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: var(--black);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    color: var(--white);
    margin-left: 1rem;
}

.right {
    padding: 0.5rem;
    margin-left: 1rem;
    background-color: var(--black);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    color: var(--white);
    margin-right:1rem;
}

img {
    width: 20%;
}

.image-container {
    display: flex;
    text-align: center;
    position: relative;
    gap: 2.4rem;
} 
.image-wrapper {
    height: 20rem; /* Ajusta esta altura según el tamaño deseado de tus imágenes */
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%; /* Asegúrate de que la imagen ocupe todo el contenedor */
}
.image-buttonn{
    display: flex;
    position: absolute;
    left: 12.1rem;
    margin-right: 4%;
    margin-left: 4%;
    transform: translateX(-20%);
    transform: translateY(-40px);
    bottom: 0;
    width: 12%;
    justify-content: space-around;
    align-items: center;
    right: 3rem;
    height: 3rem;
    font-family: var(--fuente-primary);
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--white);
    border-radius: 0.6rem;
    border: 0.1rem solid var(--black);
    cursor: pointer;

}

.image-button  {
    /* ... resto de tu estilo para los botones ... */
    display: flex;
    width: 58%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 18%;
    margin-right: 4%;
    margin-left: 4%;
    transform: translateX(-50%);
    transform: translateY(60px);
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 0.6rem;
    border:  0.1rem solid var(--black);
    cursor: pointer;
    /* ... otros estilos ... */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    color:var(--white);
    text-align: center;
    padding: 1.2rem;
}