:root {
    /* Prymari color */
    --Primary-50: #EDF7E8;
    --Primary-100: #DBEFB9;
    --Primary-200: #C9E8B9;
    --Primary-300: #B7E0A2;
    --Primary-400: #A5D88B;
    --Primary-500: #93D074;
    --Primary-600: #81C85D;
    --Primary-700: #6FC046;
    --Primary-800: #5DD12E;
    --Primary-900: #4BBD17;
    --Primary-950: #39A900;

    /* Secundary Color */
    --Green: #007832;
    --Blue: #50E5F9;
    --Orange: #FDC300;

    /* Color Neutro */
    --Blanco: #FFF;
    --Negro: #000;
    --Gris-100: #313131;
    --Gris-80: #626262;
    --Gris-60: #949494;
    --Gris-40: #C5C5C5;
    --Gris-20: #F6F6F6;
}
h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2.4rem ;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.4rem;
}
h6{ 
    font-size: 1rem;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Cuerpo */
body {
    font-family: Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/IMG/Fondo-login.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Formulario */
.container__form {
    padding: 1rem;
    display: flex;
    width: 35.313rem;
    height: 34rem;
    flex-direction: column;
    box-shadow: 0 0 2rem rgb(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    background: var(--Primary-800);
    align-items: center;
    gap: 0.5rem;
}

/* Tamaño letra login */
.container__title {
    text-align: center;
    text-transform: uppercase;
    color: var(--Blanco);
    margin-bottom: 2.5rem;
    text-shadow: 1rem;
}

label,
p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Espacios en el formulario */
.container__input {
    display: flex;
    padding: 1rem auto;
    border: none;
    border-radius: 0.4rem;
    background-color:var(--Blanco);
    outline: none;
    color: var(--Negro);
    font-size: 1.4rem;
    gap: 2.4rem;
}

/* Logo */
.container__logo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 10rem;
    margin-bottom: 3rem;
}

/* Estilos para la caja de entrada */
.container__input-box {
    position: relative;
    width: 27rem;
    margin: 0.5rem ;
}
.container__logo--img{
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    margin-bottom: 0.4rem;
}

/* Estilos para los campos de entrada */
.container__input-box .container__input {
    display: flex;
    width: 100%;
    padding: 1.5rem 4.5rem;
    font-size: 1rem;
    color: var(--Negro);
    background-color: var(--Blanco);
    border: none;
    border-radius: 0.6rem;
    outline: none;
    gap: 2.4rem;
}

/* Estilo de los íconos */
.container__icon {
    position: absolute;
    top: 1.8rem;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--Negro);
}

/* Estilo placeholder */
.container__input::placeholder {
    color: var(--Gris-40);
}

/* Recordar contraseña */
.container__remember-forgot a {
    text-decoration: none;
    color: var(--Blanco);
}

.container__remember-forgot {
    margin: 1rem;
}

/* Botón */
.container__button {
    background-color: var(--Negro);
    color: var(--Blanco);
    cursor: pointer;
    padding: 0.8rem;
    width: 16rem;
    border-radius: 0.6rem;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container__button:hover {
    background-color: var(--Gris-100);
    transform: scale(1.05);
    border: none;
}
/* Alertas del formulario */
.correcto {
    background-color: var(--Primary-600);
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    color: var(--Negro);
    text-transform: uppercase;
    border-radius: 1rem;
}

.error {
    background-color: var(--Orange);
    /* border: solid var(--Gris-100) 0.1rem ; */
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--Blanco);
    text-transform: uppercase;
    border-radius: 1rem;
}

/* Responsivo para tablets */
@media (max-width: 768px) {
    .container__form {
        width: 90%;
        height: auto;
        padding: 1.5rem;
    }

    .container__title {
        font-size: 2.5rem;
    }

    .container__input-box {
        width: 100%;
    }

    .container__button {
        width: 100%;
    }
}

/* Responsivo para móviles (pantallas pequeñas) */
@media (width < 480px) {
    .container__form {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .container__title {
        font-size: 2.5rem;
    }

    .container__icon::before {
        display: none;
    }

    .container__logo {
        width: 2rem;
        height: 2rem;
    }

    .container__input-box .container__input {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    .container__button {
        font-size: 1rem;
        padding: 0.6rem;
    }
}