<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lembo</title>
    <link rel="stylesheet" href="/CSS/Normalize.css">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b08d7118d6.js" crossorigin="anonymous"></script>
</head>
<body>

<header class="header">
    <nav class="nav">
        <div class="nav__logo">
            <img src="/IMG/Propuesta Logo 2 (1).jpg" alt="Logo Lembo" class="nav__logo-img">
        </div>
        <button class="nav__toggle" id="menu-toggle">
            &#9776; <!-- Icono de tres rayas -->
        </button>
        <ul class="nav__list" id="nav-list">
            <li class="nav__item"><a href="home.html" class="nav__link nav__link--active">Inicio</a></li>
            <li class="nav__item"><a href="cultivos.html" class="nav__link">Cultivos</a></li>
            <li class="nav__item"><a href="listar-usuarios.html" class="nav__link">Usuarios</a></li>
            <li class="nav__item"><a href="insumo.html" class="nav__link">Insumos</a></li>
            <li class="nav__item"><a href="sensores.html" class="nav__link">Sensores</a></li>
            <li class="nav__item"><a href="login.html" class="nav__link">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
<script src="/JS/home-menu.js"></script>
</body>
</html>
