<header class="header">
    <nav class="nav">
        <div class="nav__logo">
            <img src="/IMG/Propuesta Logo 2 (1).jpg" alt="Logo Lembo" class="nav__logo-img">
        </div>
        <button class="nav__toggle" id="menu-toggle">
            &#9776; <!-- Icono de tres rayas -->
        </button>
        <ul class="nav__list" id="nav-list">
            <li class="nav__item"><a href="home.html" class="nav__link nav__link--active">Inicio</a></li>
            <li class="nav__item"><a href="/frontend/public/views/ciclo_cultivo.html" class="nav__link">Ciclo de cultivos</a></li>
            <li class="nav__item"><a href="listar-usuarios.html" class="nav__link">Usuarios</a></li>
            <li class="nav__item"><a href="/frontend/public/views/ciclo_insumo.html" class="nav__link">Insumos</a></li>
            <li class="nav__item"><a href="/frontend/public/views/ciclo_sensor.html" class="nav__link">Sensores</a></li>
            <li class="nav__item"><a href="login.html" class="nav__link">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>

<!-- <script src="/JS/home-menu.js"></script> -->

