<aside class="sidebar">
    <div class="sidebar__logo" id="logo">
        <img src="/IMG/Propuesta Logo 2 (1).jpg" alt="Logo" width="50px" height="50px">
    </div>
    <nav class="sidebar__nav-icons" id="nav-icons">
        <a href="#" class="sidebar__nav-item">
            <i class='bx bx-search'></i>
            <span class="sidebar__nav-label">Buscar</span>
        </a>
        <a href="home.html" class="sidebar__nav-item">
            <i class='bx bx-home-alt-2'></i>
            <span class="sidebar__nav-label">Home</span>
        </a>
        <a href="ciclo_insumo.html" class="sidebar__nav-item">
            <i class='bx bxs-bar-chart-square'></i>
            <span class="sidebar__nav-label">Insumo</span>
        </a>
        <a href="ciclo_sensor.html" class="sidebar__nav-item">
            <i class='bx bx-chip'></i>
            <span class="sidebar__nav-label">Ciclo Sensor</span>
        </a>
        <a href="ciclo_cultivo.html" class="sidebar__nav-item">
            <i class='bx bx-circle-three-quarter'></i>
            <span class="sidebar__nav-label">Ciclo de Cultivo</span>
        </a>
        <a href="listar-usuarios.html" class="sidebar__nav-item">
            <i class='bx bx-box'></i>
            <span class="sidebar__nav-label">Usuarios</span>
        </a>
        <a href="integracion.html" class="sidebar__nav-item">
            <i class='bx bx-hard-hat'></i>
            <span class="sidebar__nav-label">integración</span>
        </a>
        <a href="login.html" class="sidebar__nav-item sidebar__nav-item--end" id="papa">
            <i class='bx bxs-door-open'></i>
            <span class="sidebar__nav-label">Cerrar Sesión</span>
        </a>
    </nav>
</aside>