<aside class="sidebar">
    <div class="sidebar__logo" id="logo">
        <img src="/IMG/Propuesta Logo 2 (1).jpg" alt="Logo" width="50px" height="50px">
    </div>
    <nav class="sidebar__nav-icons" id="nav-icons">
        <a href="#" class="sidebar__nav-item">
            <i class='bx bx-search'></i>
        </a>
        <a href="/frontend/public/views/home.html" class="sidebar__nav-item">
            <i class='bx bx-home-alt-2' title="Home"></i>
        </a>
        <a href="/frontend/public/views/insumo.html" class="sidebar__nav-item">
            <i class='bx bxs-bar-chart-square' title="Insumo"></i>
        </a>
        <a href="ciclo_sensor.html" class="sidebar__nav-item">
            <i class='bx bx-chip'></i>
        </a>
        <a href="ciclo_cultivo.html" class="sidebar__nav-item">
            <i class='bx bx-circle-three-quarter' title="Ciclo de Cultivo"></i>
        </a>
        <a href="listar-usuarios.html" class="sidebar__nav-item">
            <i class='bx bx-box' title="Usuarios"></i>
        </a>
        <a href="login.html" class="sidebar__nav-item sidebar__nav-item--end" id="papa">
            <i class='bx bxs-door-open' title="Cerrar Sesión"></i>
        </a>
    </nav>
</aside>