<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Actualizar_Insumo.css">
    <title>Agregar Insumo</title>
</head>

<body>
    <section class="form-container">
        <form class="form">
            <h2 class="form__title">Actualizar Insumo</h2>
            <div class="form__container"></div>
                <div class="form__field">
                    <label class="form__label" for="name">Nombre:</label>
                    <input class="form__input" type="text" name="name" id="name" placeholder="Nombre">
                </div>
                <div class="form__field">
                    <label class="form__label" for="id">ID:</label>
                    <input class="form__input" type="number" name="id" id="id" placeholder="ID Insumo">
                </div>
                <div class="form__field">
                    <label class="form__label" for="valor">Valor Unitario:</label>
                    <input class="form__input" type="number" name="valor" id="valor" placeholder="Precio">
                </div>
                <div class="form__field">
                    <label class="form__label" for="cantidad">Cantidad:</label>
                    <input class="form__input" type="number" name="cantidad" id="cantidad" placeholder="Cantidad">
                </div>
                <div class="form__field">
                    <label class="form__label" for="unidad">Unidad de medida:</label>
                    <select class="form__select" name="unidad" id="unidad">
                        <option value="">Unidad de medida</option>
                        <option value="kilo">Kilo</option>
                        <option value="gramos">Gramos</option>
                        <option value="pascal">Pascal</option>
                        <option value="metros">Metros</option>
                    </select>
                </div>
                <div class="form__field"></div>
                    <label class="form__label" for="descripcion">Descripción:</label>
                    <textarea class="form__textarea" name="descripcion" id="descripcion" placeholder="Descripción"></textarea>
                </div>
            </div>
            <button class="form__button" type="submit" formaction="insumo.html">Actualizar Insumo</button>
        </form>
    </section>
<script src="../JS/actualizarInsumo.js"></script>
</body>

</html>