<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/pages/Agregar_insumo.css">
    <title>Agregar Insumo</title>
    <script src="/script-insumos.js"></script>
</head>

<body>
    <section class="form-container">
        <form class="form" method="POST" action="script-insumos.js">
            <h2 class="form__title">Agregar Insumo</h2>
            <div class="form__container">
                <div class="form__field">
                    <label class="form__label" for="name">Nombre:</label>
                    <input class="form__input form__input--name" type="text" name="name" id="name" placeholder="Nombre">
                </div>
                <div class="form__field">
                    <label class="form__label" for="id">ID:</label>
                    <input class="form__input form__input--id" type="number" name="id" id="id" placeholder="ID Insumo">
                </div>
                <div class="form__field">
                    <label class="form__label" for="valor">Valor Unitario:</label>
                    <input class="form__input form__input--valor" type="number" name="valor" id="valor" placeholder="Precio">
                </div>
                <div class="form__field"></div>
                    <label class="form__label" for="cantidad">Cantidad:</label>
                    <input class="form__input form__input--cantidad" type="number" name="cantidad" id="cantidad" placeholder="Cantidad">
                </div>
                <div class="form__field">
                    <label class="form__label" for="unidad">Unidad de medida:</label>
                    <select class="form__select" name="unidad" id="unidad">
                        <option value="">Unidad de medida</option>
                        <!-- <option value="unidad">Unidad</option> -->
                        <option value="kilo">Kilo</option>
                        <option value="gramos">Gramos</option>
                        <option value="pascal">Pascal</option>
                        <option value="metros">Metros</option>
                    </select>
                </div>
                <div class="form__field">
                    <label class="form__label" for="descripcion">Descripción:</label>
                    <textarea class="form__textarea form__textarea--descripcion" name="descripción" id="descripcion" placeholder="Descripción"></textarea>
                </div>
            </div>
            <button class="form__button" type="submit" formaction="insumo.html">Agregar Insumo</button>
        </form>
    </section>

</body>
<script src="../JS/agregarInsumo.js"></script>
</html>