<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/pages/agregar_usuario.css">
    <title>Agregar Usuario</title>
</head>
<body>
    <section class="form-container">
        <form class="form">
            <h2 class="form__title">Agregar Usuario</h2>
            <div class="form__container">
                <div class="form__field">
                    <label class="form__label" for="name">Nombre:</label>
                    <input class="register__input--name" type="text" name="name" id="name" placeholder="Nombre" required>
                </div>
                <div class="form__field">
                    <label class="form__label" for="apellido">Apellido:</label>
                    <input class="register__input--lastname" type="text" name="apellido" id="apellido" placeholder="Apellido" required>
                </div>
                <div class="form__field">
                    <label class="form__label" for="id">ID:</label>
                    <input class="register__input--id" type="number" name="id" id="id" placeholder="ID" required>
                </div>
                <div class="form__field">
                    <label class="form__label" for="telefono">Número de teléfono:</label>
                    <input class="register__input--phone" type="tel" name="telefono" id="telefono" placeholder="Número de teléfono" required>
                </div>
                <div class="form__field">
                    <label class="form__label" for="rol">Rol:</label>
                    <select class="form__select" name="rol" id="rol" required>
                        <option value="">Selecciona un Rol</option>
                        <option value="usuario">Usuario</option>
                        <option value="admin">Admin</option>
                        <option value="personal de apoyo">Personal de Apoyo</option>
                    </select>
                </div>
            </div>
            <button class="form__button" type="submit">Agregar Usuario</button>
        </form>
    </section>

    <script src="../JS/agregarUsuario.js"></script>
    <script src="../server-agregar-usuario.js"></script>
</body>
</html>
