<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Insumos</title>
    <link rel="stylesheet" href="/frontend/public/css/pages/ciclo_insumo.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/frontend/JS/sidebar.js" defer></script>
</head>

<body>
    <header class="header">
        <div class="header__left-section">
            <span class="header__menu-item">Insumos</span>
            <span class="header__menu-separator">/</span>
            <span class="header__menu-item">Lista de Insumos</span>
            <span class="header__menu-separator">-</span>
            <span class="header__menu-item">Cantidad de Insumos: 34</span>
        </div>
        <div class="header__right-section">
            <input type="text" class="header__search-bar" placeholder="Buscar">
            <span class="header__icon"><i class='bx bx-message-square-add' id="add" title="Agregar"></i></span>
            <span class="header__icon"><i class='bx bxs-download' id="download" title="Descargar Informe"></i></span>
        </div>
        </div>
    </header>
    <main>
        <!-- Aquí va la SIDEBAR -->
        <div class="sidebar"></div>
        <section class="content">
            <div class="content__chart-container">
                <h2>Cantidad de Insumos</h2>
                <canvas id="insumosChart" class="insumosChart"></canvas>
            </div>
            <div class="container__button">
                <button class="button__listar-insumos" id="listar-insumos">Listar Insumos</button>
            </div>
        </section>
    </main>
    <script src="/frontend/JS/grafico_insumo.js" defer></script>
    <script>
        document.getElementById("listar-insumos").onclick = function () {
            window.location.href = "insumo.html";
        }
        
    </script>
</body>

</html>

</html>