<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/pages/cultivo_informe.css">
    <title>Descargar reporte Cultivos</title>
</head>
<body>
    <section class="form-container">
        <form class="form-container__form">
            <h2 class="form-container__title">Descargar Reporte de los Cultivos</h2>
            <div class="form-container__select-container">
                <select name="unidad" id="unidad" class="form-container__select">
                    <option value="" class="form-container__option">Formato de Descarga</option>
                    <option value="kilo" class="form-container__option">PDF</option>
                    <option value="gramos" class="form-container__option">Excel</option>
                    <option value="pascal" class="form-container__option">Word</option>
                    <option value="metros" class="form-container__option">PNG</option>
                    <option value="metros" class="form-container__option">JPENG</option>
                </select>
            </div>
            <div class="form-container__img-container">
                <img src="/IMG/reporte.png" alt="" class="form-container__img">
            </div>
            <button type="submit" formaction="cultivos.html" class="form-container__button">Descargar</button>
        </form>
    </section>
</body>

</html>
