<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/informe.css">
    <title>Descargar reporte</title>
</head>

<body>
    <section class="form-container">
        <form class="form-container__form">
            <h2 class="form-container__title">Descargar Reporte de los Usuarios</h2>
            <div class="form-container__content">
                <select name="unidad" id="unidad" class="form-container__select">
                    <option value="" class="form-container__option">Formato de Descarga</option>
                    <option value="pdf" class="form-container__option">PDF</option>
                    <option value="excel" class="form-container__option">Excel</option>
                    <option value="word" class="form-container__option">Word</option>
                    <option value="png" class="form-container__option">PNG</option>
                    <option value="jpeg" class="form-container__option">JPEG</option>
                </select>
            </div>
            <div class="form-container__image">
                <img src="../IMG/reporte.png" alt="Reporte" class="form-container__img">
            </div>
            <button type="submit" formaction="insumo.html" class="form-container__button">Descargar</button>
        </form>
    </section>

</body>

</html>