<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Insumos</title>
    <link rel="stylesheet" href="/frontend/public/css/pages/insumo.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/frontend/JS/sidebar.js" defer></script>
    <script src="/frontend/JS/grafico_insumo.js" defer></script>
</head>

<body>
    <div class="header">
        <div class="header__left-section">
            <span class="header__menu-item">Insumos</span>
            <span class="header__menu-separator">/</span>
            <span class="header__menu-item">Lista de Insumos</span>
            <span class="header__menu-separator">-</span>
            <span class="header__menu-item">Cantidad de Insumos: 34</span>
        </div>
        <div class="header__right-section">
            <input type="text" class="header__search-bar" placeholder="Buscar">
            <span class="header__icon"><i class='bx bx-message-square-add' id="add" title="Agregar"></i></span>
            <span class="header__icon"><i class='bx bxs-download' id="download" title="Descargar Informe"></i></span>
            <span class="header__icon"><box-icon name='bell' type='solid'></box-icon></span>
        </div>
    </div>
    <main>
        <!-- Aquí va la SIDEBAR -->
        <div class="sidebar"> </div>
        <section class="content">
            <table class="content__table">
                <thead class="content__table-head">
                    <tr class="content__table-row">
                        <th class="content__table-header">Nombre</th>
                        <th class="content__table-header">ID</th>
                        <th class="content__table-header">Unidad de medida</th>
                        <th class="content__table-header">Cantidad</th>
                        <th class="content__table-header">Valor Unitario</th>
                        <th class="content__table-header">Estado</th>
                        <th class="content__table-header">Acciones</th>
                    </tr>
                </thead>
                <tbody class="content__table-body">
                    <tr class="content__table-row">
                        <td class="content__table-data">Semillas</td>
                        <td class="content__table-data">GNR76286</td>
                        <td class="content__table-data">Gramos</td>
                        <td class="content__table-data">5</td>
                        <td class="content__table-data">$8.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp;
                            Deshabilitado:&nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Fertilizante</td>
                        <td class="content__table-data">GNR76286</td>
                        <td class="content__table-data">Kilos</td>
                        <td class="content__table-data">6</td>
                        <td class="content__table-data">$3.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Pesticida</td>
                        <td class="content__table-data">GNR76286</td>
                        <td class="content__table-data">Kilos</td>
                        <td class="content__table-data">20</td>
                        <td class="content__table-data">$25.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Sustrato</td>
                        <td class="content__table-data">GNR76286</td>
                        <td class="content__table-data">Kilos</td>
                        <td class="content__table-data">3</td>
                        <td class="content__table-data">$25.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado:
                            &nbsp;<span></span>&nbsp; Deshabilitado: &nbsp;<span
                                class="content__status-disabled"></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Herramientas</td>
                        <td class="content__table-data">USR76286</td>
                        <td class="content__table-data">Personal de Apoyo</td>
                        <td class="content__table-data">12</td>
                        <td class="content__table-data">$35.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Aspersores</td>
                        <td class="content__table-data">USR76288</td>
                        <td class="content__table-data">Personal de Apoyo</td>
                        <td class="content__table-data">25</td>
                        <td class="content__table-data">$55.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Mangueras</td>
                        <td class="content__table-data">GNR76287</td>
                        <td class="content__table-data">Metros</td>
                        <td class="content__table-data">22</td>
                        <td class="content__table-data">$19.500</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Mallas protectoras</td>
                        <td class="content__table-data">USR76284</td>
                        <td class="content__table-data">Metros</td>
                        <td class="content__table-data">17</td>
                        <td class="content__table-data">$5.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado:
                            &nbsp;<span></span>&nbsp; Deshabilitado: &nbsp;<span
                                class="content__status-disabled"></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit' id="redirectButton"></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="content__table-row">
                        <td class="content__table-data">Invernadero de Plástico</td>
                        <td class="content__table-data">USR76286</td>
                        <td class="content__table-data">Metro Cubico</td>
                        <td class="content__table-data">12</td>
                        <td class="content__table-data">$5.000</td>
                        <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span
                                class="content__status-enabled"></span>&nbsp; Deshabilitado:
                            &nbsp;<span></span></td>
                        <td class="content__table-data">
                            <div class="content__icon-container">
                                <div class="content__icon content__icon--blue" title="Editar">
                                    <i class='bx bxs-edit'></i>
                                </div>
                                <div class="content__icon content__icon--red" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>
</body>

</html>