<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="../CSS/listaru.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../JS/sidebar.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header__left-section">
            <span class="header__menu-item">Usuarios</span>
            <span class="header__menu-separator">/</span>
            <span class="header__menu-item">Lista de Usuarios</span>
            <span class="header__menu-separator">-</span>
            <span class="header__menu-item">Cantidad de Usuarios: 34</span>
        </div>
        <div class="header__right-section">
            <input type="text" class="header__search-bar" placeholder="Buscar">
            <span class="header__icon"><i class='bx bx-message-square-add' id="add" title="Agregar"></i></span>
            <span class="header__icon"><i class='bx bxs-download' id="descarga" title="Descargar Informe"></i></span>
            <span class="header__icon"><box-icon name='bell' type='solid'></box-icon></span>
            <span class="header__icon"><box-icon name='bell'></box-icon></span>
        </div>
    </div>
    <main>
        <!-- Aquí va la SIDEBAR -->
        <div class="sidebar"> </div>
        <section class="content">
            <table class="content__table">
                <thead class="content__table-head">
                    <tr class="content__table-row">
                    <th class="content__table-header">Tipo</th>
                    <th class="content__table-header">Identificador</th>
                    <th class="content__table-header">Ubicación</th>
                    <th class="content__table-header">Estado</th>
                    <th class="content__table-header">Acciones</th>
                    </tr>
                </thead>
                <tbody class="content__table-body">
                    <tr class="content__table-row">
                    <td class="content__table-data">Luciano Anal</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Personal de Apoyo</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span class="status-enabled"></span>&nbsp; Deshabilitado:&nbsp;<span></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Elver Gonzio</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Personal de Apoyo</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span class="status-enabled"></span>&nbsp; Deshabilitado:&nbsp;<span></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Leslie Caracas</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Administrador</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span class="status-enabled"></span>&nbsp; Deshabilitado:&nbsp;<span></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Camilo Parra</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Personal de Apoyo</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span></span>&nbsp; Deshabilitado: &nbsp;<span class="status-disabled"></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Keyshia Subiria</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Visitante</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span></span>&nbsp; Deshabilitado: &nbsp;<span class="status-disabled"></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Brayan Perro Guzman</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Personal de Apoyo</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span></span>&nbsp; Deshabilitado: &nbsp;<span class="status-disabled"></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Santiago Cachon L</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Visitante</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span class="status-enabled"></span>&nbsp; Deshabilitado:&nbsp;<span></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Ana Zorria Riaño</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Personal de Apoyo</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span class="status-enabled"></span>&nbsp; Deshabilitado:&nbsp;<span></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Justin Bieber</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Personal de Apoyo</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span class="status-enabled"></span>&nbsp; Deshabilitado:&nbsp;<span></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">JH Tyson 777</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Personal de Apoyo</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span></span>&nbsp; Deshabilitado: &nbsp;<span class="status-disabled"></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Papa Francisco</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Administrador</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span class="status-enabled"></span>&nbsp; Deshabilitado:&nbsp;<span></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                    <tr class="content__table-row">
                    <td class="content__table-data">Edward Follone</td>
                    <td class="content__table-data">USR76286</td>
                    <td class="content__table-data">Administrador</td>
                    <td class="content__table-data content__table-data--status">Habilitado: &nbsp;<span class="status-enabled"></span>&nbsp; Deshabilitado:&nbsp;<span></span></td>
                    <td class="content__table-data">
                        <div class="icon-container">
                        <div class="icon icon--blue" title="Editar">
                            <i class='bx bxs-edit' id="redirectButton"></i>
                        </div>
                        <div class="icon icon--red" title="Eliminar">
                            <i class='bx bxs-trash'></i>
                        </div>
                        </div>
                    </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script>
        document.getElementById("redirectButton").onclick = function () {
            window.location.href = "actualizar_usuario.html"; // Cambia la ruta si es necesario
        };
        document.getElementById("add").onclick = function () {
            window.location.href = "agregar-usuario.html"; // Cambia la ruta si es necesario
        };
        document.getElementById("descarga").onclick = function () {
            window.location.href = "informe_usuarios.html"; // Cambia la ruta si es necesario
        };
    </script>
</body>
</html>