<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificacion PIN</title>
    <link rel="stylesheet" href="/frontend/public/css/pages/verificacion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="verificacion">
        <div class="verificacion__contenedor">
            <h2 class="verificacion__titulo">Ingresa el PIN</h2>
            <p class="verificacion__descripcion">Al correo que tenemos en nuestra base de datos hemos enviado un PIN para asegurarnos que eres tú...</p>
            <div class="verificacion__inputs">
                <input class="verificacion__input" type="text" maxlength="1">
                <input class="verificacion__input" type="text" maxlength="1">
                <input class="verificacion__input" type="text" maxlength="1">
                <input class="verificacion__input" type="text" maxlength="1">
                <input class="verificacion__input" type="text" maxlength="1">
                <input class="verificacion__input" type="text" maxlength="1">
            </div>
            <button class="verificacion__boton">Ingresar</button>
        </div>
    </div>
</body>
<script src="/frontend/JS/verificacion.js"></script>
</html>

